.login_btn {
    display: block;
    padding: 4px 8px;
    background-color: #4CAF50;
    color: white;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}